# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache files
.vs/
.vscode/
*.csproj.user
*.vbproj.user
*.sln.ide

# Rider
.idea/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
*.dotcover
*.resharper

# Local secrets and environment-specific settings
# Often, developers want to keep local development settings out of source control.
# If you want to track appsettings.Development.json, remove the line below.
appsettings.Development.json
secrets.json

# Tooling
_ReSharper*/
*.[Rr]e[Ss]harper
*.DS_Store

# Project files
project.lock.json
project.fragment.lock.json

# Packages
/packages
*.nupkg

# Others
*.dbmdl
*.jfm
*.pfx
*.publishsettings
node_modules/
npm
